<h1>PIXELATE</h1>

<div class="url-form">
  <form action="/mosaic" method="post">
    <input type="text" name="picture_url" placeholder="Paste the picture URL here.">
    <input type="submit" value="SUBMIT">
  </form>
</div>

