<div class="return-uploaded-image">
  <h1>Your Chosen Image</h1>
  <img src=<%= "#{@picture_url}" %>  width="1000" />
</div>

<form class="pixelate-button" method="POST" action="/mosaic/pixelate">
  <input type="hidden" name="picture_url" value=<%= "#{@picture_url}" %> />
  <input type="submit" value="PIXELATE">
</form>
