

<div class="return-pixelated-image">
  <h1>Your Pixelated Image</h1>
    <%= erb :'_pixelated_image_show', locals: {mosaic_url: @mosaic_url, page: @page } %>
  <a href="/mosaic/tiles">Search query for your tile images</a>
</div>
